.light-main-container {
  .btns {
    button:first-child {
      background-color: #242831;
    }
    button:nth-child(2) {
      background-color: red;
      color: #fff;
    }
  }
}

.main-container {
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1,
    p {
      margin: 5px;
    }
  }
  .btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    button {
      padding: 10px 20px;
      border-radius: 30px;
      border: none;
      font-weight: 600;
      font-size: 1.2rem;
    }
    button:first-child {
      background-color: #0a7ea3;
      color: #fff;
    }
    button:nth-child(2) {
      border: 1px solid #0a7ea3;
    }
  }
}
